*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgrey;
}
.head{
    color:white;
    text-align: center;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 8px;
    padding: 20px;
}
.head > h1{
    border: 1px solid red;
    border-radius: 8px;
    background-color: blue;
}
.b{
    background-color: white;
    margin: 40px auto;
    width: 60%;
    padding : 20px;
    border-radius: 8px;
}
.Q1{
    background-color: lightgray;
    margin : 30px auto;
    width:90%;
    padding:20px;
    border-radius:8px;
}
.Q2{
    background-color: lightgray;
    margin : 30px auto;
    width:90%;
    padding:20px;
    border-radius:8px;
}
.Q3{
    background-color: lightgray;
    margin : 30px auto;
    width:90%;
    padding:20px;
    border-radius:8px;
}
.Q4{
    background-color: lightgray;
    margin : 30px auto;
    width:90%;
    padding:20px;
    border-radius:8px;
}
.Q5{
    background-color: lightgray;
    margin : 30px auto;
    width:90%;
    padding:20px;
    border-radius:8px;
}
#p{
    border: 1px solid blue;
    width: 100px;
    
}